.moc
.obj
moc_*
gen_*
*.so*
*.a
*.o
Makefile
*-stamp
core
*.gcov
*.gcda
*.gcno
*~
*.swp
*.pro.user
*.core
*.tar.*
*.md5
*.moc
backup-*-pre-maliit-plugins.tgz
description-pak
doc-pak/
maliit-plugins_0.94-qt4-1_i386.deb
